<!DOCTYPE html>
<html>
    <head>
        <title>Members</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/members.css') }}">
    </head>
    <body>
        <h1>Our Members</h1>
        <p>Here are brief descriptions of our members:</p>
        <ul>
            <li>
                <h3>てるやくん</h3>
                <img src="{{ url_for('static', filename='images/member1.jpg') }}" alt="Member 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id suscipit blandit, ipsum quam accumsan augue, non congue orci magna ut est. </p>
            </li>
            <li>
                <h3>Member 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id suscipit blandit, ipsum quam accumsan augue, non congue orci magna ut est. </p>
            </li>
            <li>
                <h3>Member 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id suscipit blandit, ipsum quam accumsan augue, non congue orci magna ut est. </p>
            </li>
        </ul>
    </body>
</html>
